{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<div class="container-fluid d-flex align-items-center justify-content-center h-100" style="margin-top: 5em;">
  <div class="row">
      <div class="col-xs-12">
          <div class="form-wrap">
              <h1 class="text-center mb-3">AzaSimulator</h1>
              <form role="form" method="post" id="login-form" autocomplete="off">
                  {% csrf_token %}
                  {{ login_form|crispy }}
                  <div class="text-center">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                  </div>
              </form>
              <div class="mt-3">
                <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
                <p class="text-center"><a href="/password_reset">Forgot password?</a></p>
              </div>
          </div>
      </div> 
  </div> 
</div>


{% endblock %}