<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'simulator:index' %}">Aza Simulation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Simulations</a>
          <div class="dropdown-menu">
              <a href="{% url 'simulator:index' %}" class="dropdown-item"><i class="fa-solid fa-list"></i> List</a>
              <a href="{% url 'simulator:new' %}" class="dropdown-item"><i class="fa-solid fa-plus"></i> Create</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'simulator:new_co' %}">Add Constants or Operations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'simulator:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>