
{%load static %}

<link rel="stylesheet" type="text/css" href="{% static 'simulator/styles/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'simulator/styles/forms.css' %}"/>

<script src="{% static 'simulator/scripts/react.js' %}"></script>
<script src="{% static 'simulator/scripts/react-dom.js' %}"></script>
<script src="{% static 'simulator/scripts/babel.js' %}"></script>
<script src="{% static 'simulator/scripts/form-elements.js' %}" type="text/babel"></script>

<section id="form"></section>